{% extends "layout.html" %}
{% block article %}
    <div class="hero-unit">
        <h2>{{ title }}</h2>
        <p>{{ description|safe }}</p>
    </div>
    <div class="row">
        <div class="span10 offset1" >
            <p>{{ content|safe }}</p>
        </div>
    </div>
     <div class="row">
        <div class="span10 offset1" >
            <p>
                {% for mention in mentions %}
                    <a href="{{ url_for('show_entries', search_type = mention['type'], search_term = mention['value']) }}">{{ mention['value'] }}</a>,
                {% else %}
                    <em>Wow. Nothing to see here</em>
                {% endfor %}
            </p>
        </div>
    </div>
{% endblock article %}
