{% macro mentions(entity) %}
    {% if entity.has_mentions_in_media %}
        <h3>Mentions in the Media</h3>
        <div class="list-group">
            {% for mention in entity.mentions_in_media() %}
                <div class="list-group-item" >
                    <div class="row-action-primary">
                        <i class="icon-material-folder"></i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">
                            <a href="{{ url_for('show_entries', search_type = 'document', search_term = mention['doc_id']) }}" > link </a>
                        </div>
                        <h4 class="list-group-item-heading">{{ mention['title']|safe }}</h4>
                        <p class="list-group-item-text">{{ mention['summary']|safe }}</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
            {% endfor %}
        </div>
    {% endif %}

    {% if entity.has_mentions_in_debate %}
        <h3>Mentions in the Debate</h3>
        <div class="list-group">
            {% for mention in entity.mentions_in_debate() %}
                <div class="list-group-item" >
                    <div class="row-action-primary">
                        <i class="icon-material-folder"></i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">
                            <a href="{{ url_for('show_entries', search_type = 'document', search_term = mention['doc_id']) }}" > link </a>
                        </div>
                        <h4 class="list-group-item-heading">{{ mention['title']|safe }}</h4>
                        <p class="list-group-item-text">{{ mention['summary']|safe }}</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro debates(entity) %}
    {% if entity.has_statements %}
        <h3>Debates in Parliament</h3>
        <div class="list-group">
            {% for statement in entity.statements() %}
                <div class="list-group-item" >
                    <div class="row-action-primary">
                        <i class="icon-material-folder"></i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">
                            <a href="{{ url_for('show_entries', search_type = 'document', search_term = statement['doc_id']) }}" > link </a>
                        </div>
                        <h4 class="list-group-item-heading">{{ statement['title']|safe }}</h4>
                        <p class="list-group-item-text">{{ statement['summary']|safe }}</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}


{% macro mp(entity) %}
    {% if entity.is_mp %}
        {% if entity.has_positions %}
            {% for position in entity.positions() %}
                <div class="row">
                    <div class="col-md-10">
                        <div class="well">
                            {{ position }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <h4>Terms in Parliament</h4>
        {% for term in entity.terms_in_parliament() %}
            <div class="row">
                <div class="col-md-10">
                    <div class="well">
                        <h5 class="list-group-item-heading">{{ term['constituency'] }}</h5>
                        <p class="list-group-item-text">In office from {{ term['entered'] }} to {{ term['left'] }} </br>{{ term['party'] }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro associated(entity) %}
    {% if entity.has_associated %}
        <div class="row">
            <div class="col-md-10">
                <div class="alert alert-dismissable alert-success">
                    {% if entity.is_document %}
                        <h4>Connected Names</h4>
                    {% else %}
                        <h4>{{ entity.identity|safe }}'s Connected Names</h4>
                    {% endif %}
                    {% for link in entity.associated_names() %}
                        <a href="{{ url_for('show_entries', search_type = link['type'], search_term = link['edge']) }}" class="alert-link" data-toggle="tooltip" data-placement="top" data-original-title="{{ link['count'] }}">{{ link['edge']|safe }} </a> /
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-10">
                <div class="alert alert-dismissable alert-warning">
                    {% if entity.is_document %}
                        <h4>Connected Topics</h4>
                    {% else %}
                        <h4>{{ entity.identity|safe }}'s Connected Topics</h4>
                    {% endif %}
                    {% for link in entity.associated_topics() %}
                        <a href="{{ url_for('show_entries', search_type = link['type'], search_term = link['edge']) }}" class="alert-link" data-toggle="tooltip" data-placement="top" data-original-title="{{ link['count'] }}">{{ link['edge']|safe }} </a> /
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro show_document(entity) %}
    <div class="list-group">
        <div class="list-group-item" >
            <div class="row-action-primary">
                <i class="icon-material-folder"></i>
            </div>
            <div class="row-content">
                <p class="list-group-item-text">{{ entity.content|safe }}</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
    </div>
{% endmacro %}


{% macro show_mp(mp) %}
    {% if mp["image"] %}
        <div class="row-picture">
            <img class="circle" src="{{ mp['image'] }}" alt="icon">
        </div>
    {% else %}
        <div class="row-action-primary">
            <i class="icon-material-folder"></i>
        </div>
    {% endif %}
    <div class="row-content">
        <div class="least-content">
            <a href="{{ url_for('show_entries', search_type = 'name', search_term = mp["name"]) }}" > more </a>
        </div>
        <h4 class="list-group-item-heading">{{ mp["name"]|safe }}</h4>
        {{ mp["party"]|safe }}
        <p>
            {% for position in mp["positions"] %}
                <li>{{ position|safe }}</li>
            {% endfor %}
        {% for dept in mp["departments"] %}
            <li>{{ dept|safe }}</li>
        {% endfor %}
        </p>
    </div>
{% endmacro %}
