{% extends "layout.html" %}
{% block policy  %}
    <div class="hero-unit">
        <h2>{{ category }}</h2>
        <p>{{ policy }}</p>
    </div>
    <div class="row">
        <div class="span4">
          <h2>Example</h2>
            <p>{{ example|safe }}</p>
        </div>
        <div class="span8">
          <h2>Associated with</h2>
          <p>
              {% for link in related %}
                    <a href="{{ url_for('show_entries', search_type = link['type'], search_term = link['edge']) }}">{{ link['edge'] }}</a>,
                {% else %}
                    <em>Wow. Nothing to see here</em>
                {% endfor %}
          </p>
       </div>
    </div>

{% endblock policy %}
