{% extends "layout.html" %}
{% block body %}
<div class="jumbotron">
    <h1>{{ entity.name }}</h1>
    {% if entity.labels  %}
    {% for label in entity.labels %}
    <p> {{ label }}</p>
    {% else %}
    <em>Unbelievable. No mentions here so far</em>
    {% endfor %}
    {% else %}
    <p>Don't know anything about {{ entity.name }} yet</p>
    {% endif %}
</div>

<div class="row">
    <div class="span4">
        <h2>Mentions</h2>
        <p>
            {% for mention in entity.is_mentioned_in() %}
        <p> <a href="{{ url_for('show_entries', search_type = 'article', search_term = mention['title']) }}">{{ mention['title'] }}</a></p>
        {% else %}
        <em>Unbelievable. No mentions here so far</em>
        {% endfor %}
        </p>
    </div>

    <div class="span4">
        <h2>Associated with</h2>
        <p>
            {% for link in entity.is_associated_with() %}
            <a href="{{ url_for('show_entries', search_type = link['type'], search_term = link['edge']) }}">{{ link['edge'] }}</a>,
            {% else %}
            <em>Wow. Nothing to see here</em>
            {% endfor %}
        </p>
    </div>
</div>
<hr>
{% endblock %}
