{% extends "layout.html" %}
{% block body %}
    {% from "macros.html" import mentions %}
    {% from "macros.html" import debates %}
    {% from "macros.html" import mp %}
    {% from "macros.html" import associated %}

    <div class="row">
        <div class="col-md-7" >
            <h1>{{ entity.name|safe }}</h1>
            <hr>
        </div >
    </div >

    <div class="row">
        <div class="col-md-7">
            {{ mentions(entity) }}

            {{ debates(entity) }}
        </div>

        <div class="col-md-5">
            {{ mp(entity) }}

            {{ associated(entity) }}
        </div>
    </div>
{% endblock %}
