{% extends "layout.html" %}
{% block body %}
      <div class="jumbotron">
          {% if entity.node_type == 'NamedEntity' %}
            <h1>{{ entity.name }}</h1>
              {% if entity.type  %}
                    <p>{{ entity.name }} is a {{ entity.type }}</p>
               {% else %}
                    <p>Don't know anything about {{ entity.name }} yet</p>
              {% endif %}
          {% elif entity.node_type == 'UniqueTerm' %}
            <p>
                <h1>{{ entity.term }}</h1>
                <p>Appears in and is associated with...<p>
            </p>
          {% endif %}
      </div>

      <div class="row">
        <div class="span4">
          <h2>Mentions</h2>
            <p>
              {% for mention in entity.is_mentioned_in() %}
                 <p> <a href="{{ url_for('show_entries', search_type = 'article', search_term = mention['title']) }}">{{ mention['title'] }}</a></p>
              {% else %}
                <em>Unbelievable. No mentions here so far</em>
              {% endfor %}
            </p>
        </div>
        {% if entity.node_type == 'NamedEntity' %}
            <div class="span4">
        {% elif entity.node_type == 'UniqueTerm' %}
            <div class="span8">
        {% endif %}
          <h2>Associated with</h2>
          <p>
              {% for link in entity.is_associated_with() %}
                    <a href="{{ url_for('show_entries', search_type = link['type'], search_term = link['edge']) }}">{{ link['edge'] }}</a>,
                {% else %}
                    <em>Wow. Nothing to see here</em>
                {% endfor %}
          </p>
       </div>
      {% if entity.node_type == 'NamedEntity' %}
       <div class="span4">
          <h2>Connections</h2>
            <p>
              {% for membership in entity.is_member_of() %}
                <li><a href="{{ url_for('show_entries', search_type = membership['type'], search_term = membership['edge']) }}">{{ membership['edge'] }}</a>
              {% else %}
                    <em>Oh word. No memberships</em>
              {% endfor %}
            </p>
       </div>
      {% endif %}
      </div>

      <hr>
{% endblock %}
